body{
    background-image: url("background.jpg");
    background-size: cover;
}
*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
/* Navbar Start */
.navbar{
    width: 80%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
div a{
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight:500;
    color: #181823;
}
div a:hover{
    color: #8BF5FA;
}
div ul{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
}
div ul li a{
    padding-right: 30px;
    font-weight:500;
    color: #181823;
}
div ul li a:hover{
    color:#8BF5FA;
}
.about-me p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section{
    width: 75%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.section1{
    width:650px;
    height: 500px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.section2{
    width: 650px;
    height: 500px;
}
.section2 img{
    width: 300px;
    margin-left: 170px;
    margin-top: 60px;
}
.section2 p {
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    text-align: center;
}
.contact-me{
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footer{
    width: 75%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    float: left;
    
}
div ul li a img{
    width: 50px;
    margin-top: 20px;
    position: relative;
    left: 1000px;
}
.contact-me img{
    width: 400px;
}
.mail-to{
    height: 400px;
    width: 400px;
    padding: 50px;
    margin-top: 50px;
}
.mail-to p{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}
.mail-to a{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}
.section1 p{
    font-family: 'Karla', sans-serif;
    font-size: 30px;
}
.section-abouts{
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.about{
    width: 30%;
    height: 400px;
}
.about img{
    width: 200px;
    float: left;
    margin-top: 100px;
}
.about p {
    margin-top: 150px;
    font-size: 20px;
}