@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Dosis', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    font-size: 60px;
    color: whitesmoke;
}
.logo i:hover{
    color: antiquewhite;
    transition: 0.5s ease;
}
.navbar-item{
    width: 40%;
    height: 100%;
}
.navbar-item ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbar-item ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-item ul li a:hover{
    color: antiquewhite;
    transition: 0.5s ease;
}
.about{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about h1{
    font-size: 70px;
    color: whitesmoke;
    position: absolute;
    top: 350px;
}
.about a{
    color: whitesmoke;
    font-size: 80px;
    margin-top: 2rem;
}
.about a:hover{
    transition: 0.5s ease;
    padding-top: 30px;
    color: antiquewhite;
    transform: translateY(30px);
}
.main{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    gap: 30px;
}
.main-content{
    width: auto;
    height: auto;
}
.main-content h1{
    font-size: 60px;
}
.main-content-items{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.main-content-item{
    width: 20%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.main-content-item img{
    margin-bottom: 20px;
}
.main-content-info{
    width: 50%;
    height: auto;
    font-weight: bold;
    text-align: center;
}
.main-content-items-more {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-content-items-more-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 20%;
    height: auto;
    text-align: center;
}
.main-content-items-more-info img{
    height: 105px;
    margin-right: 20px;
}
.footer{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact{
    width: 50%;
    height: 500px;
    background-color: gray;
    display: flex;
    color: whitesmoke;
    border-radius: 20px;
}
.contact-image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-image img{
    height: 400px;
}
.contact-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
    gap: 20px;
}
.contact-info h1{
    padding-right: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}
.contact-info a{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}
.contact-info a i{
    margin-right: 5px;
}
.contact-info a:hover{
    transition: 0.5s;
    transform: translateX(10px);
    color: antiquewhite;
}
.links {
    width: 50%;
    height: 25%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.links ul{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.links ul li a{
    text-decoration: none;
    font-size: 70px;
    color: whitesmoke;
}
.links ul li a:hover{
    transition: 0.5s;
    color: antiquewhite;
}