@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    height: 100px;
    border-bottom: 2px solid black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 70px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
}

nav ul li a:hover {
    color: #0ba2c0;
}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
}
.content {
    color: white;
    height: calc(100vh - 100px);
    padding-top: 150px;
}

.content h1 {
    font-size: 60px;
    text-align: center;
}

.content p {
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
}

.content .links {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
}

.content .links a {
    background-color: white;
    padding: 20px;
    width: 280px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 56px;
    transition: all .25s ease-in;
}

.content .links a:hover {
    background-color: #0ba2c0;
    color: white;
}