*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    padding: 2rem;
}
.header{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    position: relative;
    border-bottom: 2px solid black;

    &-logo{
        img{
            height: 50px;
        };
    }
    &-text{
        left: 33%;
        position: absolute;
        h1{
            color: #2C3333;
            font-weight: bold;
        }
    }
    &-search{
        #text{
            width: 14rem;
            height: 4rem;
            border-radius: 2rem;
            padding: 1rem;
            font-size: 1.5rem;
            transition: 0.5s;
            border: none;
            &:hover{
                width: 22rem;
            }

        }
        button{
            position: absolute;
            right: 25px;
            top: 21px;
        }
    }
}
.navbar{
    width: 80%;
    height: 5rem;
    margin: auto;
    background-color: #2C3333;
    &-links{
        display: flex;
        width: 100%;
        height: 100%;
        list-style-type: none;
        align-items: center;
        justify-content: start;
        &-item{
            margin-right: 3rem;
            a{
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}
.top-gallery{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: gray;
    padding: 1.5rem;
    .main-gallery{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
        .gallery-item{
            height: 300px;
            transition: 0.5s;
            img{
                height: 100%;
            }
            :hover{
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}
.main-page{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;

    .section-left{
        width: 70%;
        height: auto;
        background-color: #2C3333;
        padding: 2rem;
        border-right: 2px solid black;
        h1{
            color: white;
            padding-left: 1rem;
            border-left: 5px solid yellow;
        }
        .film-gallery{
            padding: 2rem 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .gallery-item{
                width: 19%;
                height: 350px;
                margin: 0.5rem 0.5rem;
                transition: 0.5s;
                border-radius: 0.5rem;
                border: 2px solid white;
                img{
                    width: 100%;
                    height: 85%;
                    object-fit: cover;
                    border-radius: 0.5rem;
                }
                h3{
                    margin: 1rem;
                    color: white;
                    text-align: center;
                }
                :hover{
                    opacity: 0.9;
                    cursor: pointer;
                    color: gray;
                }
            }
        }
        .pagination{
            .page-item{
                a{
                    font-size: 2rem;
                }
            }
        }
    }
    .section-right{
        width: 30%;
        height: auto;
        background-color: #2C3333;

        .section-1{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            h3{
                border-left: 4px solid yellow;
                padding-left: 1rem;
                color: white;
            }
            &-item{
            width: auto;
            height: auto;
            display: flex;
            margin-top: 1.5rem;
            &-left{
                width: auto;
                height: auto;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-right{
                margin-left: 2rem;
                width: 80%;
                height: auto;
                display: flex;
                align-items: center;
                background-color: gray;
                &-img{
                    width: 40px;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
                &-text{
                    margin: 0 1.5rem;
                    p{
                        margin: 0;
                        font-size: 1.7rem;
                        font-weight: bold;
                    }
                }
            }
            }
        }
        .section-2{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            h3{
                border-left: 4px solid yellow;
                padding-left: 1rem;
                color: white;
            }
            &-item{
                width: 90%;
                height: 13rem;
                margin-top: 1.5rem;
                display: flex;
                justify-content: space-between;
                &-left{
                    width: 25%;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
                &-right{
                    width: 72%;
                    height: auto;
                    background-color: gray;
                    padding: 1rem;
                    &-top{
                        display: flex;
                        height: auto;
                        align-items: center;
                        &-info{
                            margin-left: 1rem;
                        }
                    }
                    &-bottom{
                        margin-top: 1rem;
                    }
                }
            }
        }
        .section-3{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            h3{
                border-left: 4px solid yellow;
                padding-left: 1rem;
                color: white;
            }
            .links{
                list-style-type: none;
                padding: 2rem 0;
                background-color: #2C3333;
                li{
                    margin: 2.5rem;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1.5rem;
                        padding: 0.5rem;
                        border: 1px solid gray;
                        background-color: gray;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}
.footer{
    width: 80%;
    height: 8rem;
    margin: auto;
    display: flex;
    background-color: gray;
    justify-content: center;
    p{
        align-self: center;
        font-size: 1.5rem;
    }
}